/*
    * Trankiulium Theme
    * ZyDev_
*/

/* RESET */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    font-family: sans-serif;
    box-sizing: border-box;
    text-rendering: optimizeSpeed;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    background-image: linear-gradient(#000, #050635);
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

/* LOADER */
section#loader {
    cursor: wait;
    position: fixed;
    z-index: 1000;
    background-color: #000;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    animation: dispawn 2s ease-in-out;
    animation-fill-mode: both;
}

span#load-message {
    position: relative;
    color: #333;
    font-size: 10vmin;
    letter-spacing: 5px;
    border-bottom: 2.5vmin solid #333;
    line-height: 1.5;
    font-weight: bolder;
    border-radius: 5px;
    text-transform: uppercase;
}

span#load-message::before {
    content: attr(data-text);
    position: absolute;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 10vmin;
    color: #f2ff00;
    border-bottom: 2.5vmin solid #f2ff00;
    border-radius: 5px;
    animation: load 2s ease-in-out infinite;
    overflow: hidden;
}

/* NAV */
nav#menu {
    flex: 0.5;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav#menu #menu-title {
    font-size: 5vmin;
    padding: 10px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

/* HEADER */
header {
    flex: 1;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0 0 10px 10px;
    background: repeat url("../resources/pictures/obsidian.png");
    border-bottom: 10px solid #000;
}

header span#title {
    margin: 25px;
    color: #fff;
    z-index: inherit;
    font-size: 9vmin;
    letter-spacing: 5px;
    padding: 10px;
    background-color: #2424244f;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 10px solid #ff3d3d;
    font-weight: bold;
    border-radius: 10px;
}

header span#title::after {
    content: "/pwarp ZyShop";
    display: block;
    font-size: 4vmin;
    letter-spacing: 0px;
}

/* SHOP */
section#shop {
    flex: 1.5;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

section#shop ul.buy {
    flex: 1;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#000, #080835);
}

section#shop ul h1 {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
}

.shop-item {
    padding: 10px;
    color: #fff;
    font-size: larger;
    font-size: 1.25em;
    list-style-position: inside;
}

.shop-item-desc {
    color: #fff;
    list-style-position: inside;
    font-size: 1em;
    list-style-image: url("../resources/pictures/shop/Money.png");
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0.5;
    bottom: 0;
}

footer span {
    padding: 10px;
    color: #fff;
    font-size: 3vmin;
}

footer span a {
    color: #00ffea;
}

/* KEYFRAMES */
@keyframes load {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes dispawn {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}