@media screen and (max-width: 500px) {

    section#shop ul h1 {
        font-family: 5vmax;
    }

    .shop-item,
    .shop-item-desc {
        font-size: 2vmax;
    }

    main {
        flex-direction: column;
    }
}